ion-title {
    font-weight: 600;
}

ion-card {
    width: 100%;
    height: 160px;
    box-shadow: none;
    border-radius: 12px;
    
    img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }
}

.swiper-slide-active {
    transform: scale(1.05, 1.05);

    ion-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}

