ion-content {
  --background: #f7fafc;

  ion-card {
    margin: 100px auto;
    box-shadow: none;
    border-radius: 12px;
    width: 80%;
    box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.10);

    ion-card-title, .price {
      font-weight: 700;
      color: #222;
    }

  }
}