ion-content::part(background) {
    background: url('../../assets/4395528.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

ion-card {

    box-shadow: none;
    border-radius: 18px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, .3);  
    
    backdrop-filter: blur(8px);

}

.card-one {

    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 24px;
        font-weight: 600;
    }

}

.card-two {

    ion-card-header {
        background: rgba(255, 255, 255, .66);
    }
    ion-card-title {
        color: #3171e0;
        font-size: 24px;
    }

    ion-card-subtitle {
        font-size: 11px;
        color: rgba(0, 0, 0, .3);
    }

    ion-card-subtitle, ion-card-title, .bank, .main, h2 {
        font-weight: 600;
    }

    .main {
        font-size: 28px;
        color: rgba(0, 0, 0, .15);
    }

    .bank {
        color: #3171e0;
        letter-spacing: -1px;
    }

    .secondary {
        background: rgba(255, 255, 255, .88);
        color: #333;

        h2 {
            margin: 0;
            letter-spacing: 3.25px;
            font-size: 22px;
            padding-bottom: 2px;
        }
    }

}
