ion-content, ion-toolbar {
    --background: #f8f8f8;
}

ion-title {
    font-weight: 600;
}

ion-tab-bar {
    margin: 16px 20px; 
    --border: none;
    border-radius: 12px;
    --background: rgba(255,255,255, .5);
    box-shadow: 
        0px 3px 6px 0px rgba(0, 0, 0, 0.04), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.02);
}